/wp-admin/
/node_modules/
/npm-debug.log*
/yarn-error.log*
*.log
.DS_Store
*.cache
*.bak
*.sass-cache/
/vendor/
/.env
.idea/
/wp-content/upgrade/
*.sql
wp-config.php
wp-content/debug.log
/wp-content/languages/